<div class="main tasks-new">
  <div class="container">
    <h1 class="form-heading">タスク新規投稿</h1>
      
    <div class="col-md-8 col-md-offset-2">
      <%= form_with(model: @task, local: true) do |f| %>
      
      
      <%= f.label :"名称", class: "label-signup" %>
      <%= f.text_field :contentname, class: "form-control" %>
      <%= f.label :"詳細", class: "label-signup" %>
     
    　<textarea rows="5" class="form-control" name="task[description]"></textarea>
      <% end %>
      <input type="submit" value="投稿">
    </div>
  </div>
   
    
</div>