<!--render partial: 'shared/error_messages', locals: { obj: @user }-->
<!--render partial: 'shared/error_messages', locals: { obj: @task }-->
<% if obj.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      入力エラーが<%= pluralize(obj.errors.count, "件") %>ありました。
    </div>
    <ul>
    <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
